# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

venv/
.env
*.db
data/cve_sample.json
data/reports/*.pdf
__pycache__/
*.pyc
